.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* NAVBAR */

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  background-color: black;
  height: 2px;
  width: 0;
  transition: all 0.8s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-icon {
  width: 100%;
}

.navbar-brand {
  width: 160px;
  padding: 0 0;
}

.btn-outline-success {
  color: black !important;
  border-color: black !important;
}

.btn {
  border-radius: 0 !important;
}

.form-control {
  border-radius: 0 !important;
  border: 1px solid black !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  background-color: black !important;
}

.navbar-brand {
  margin-right: 80px !important;
}

.navbar-nav li {
  font-size: 14px;
}

.navbar {
  box-shadow: 1px -8px 10px black;
  padding: 5px 5px !important;
  height: 60px;
}

.nav-item {
  margin-right: 10%;
}

.navbar-toggler {
  font-size: 22px !important;
}

.navbar__right {
  display: flex;
  margin-right: 2%;
}

.navbar__right-item {
  font-size: 20px;
}

.navbar__right-account {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.navbar_acc {
  font-size: 12px;
  font-weight: 500;
  margin-right: 8px;
}
.navbar_acc:hover {
  cursor: pointer;
}
.fa-shopping-cart {
  color: black;
}
.fa-shopping-cart:hover {
  cursor: pointer;
}
.shoppingCart {
  position: relative;
}
.numberCart {
  position: absolute;
  top: -65%;
  right: -60%;
  border-radius: 8px;
  background-color: #b32824;
  padding: 3px 8px;
  color: white;
  text-align: center;
  font-size: 13px;
}
/* .fa-shopping-cart::after {
  content: "5";
  position: absolute;
  font-size: 17px;

  width: 22px;
  height: 22px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  top: -50%;
  right: -50%;
  background-color: #b32824;
  color: white;
  border-radius: 50%;

} */

@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
}

.col-men {
  width: 304px;
}

.admin__imgs {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.admin__options-img {
  position: relative;

  letter-spacing: 1px;
  width: 100%;
  height: 100px;
  background-image: url(https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.admin__options {
}
/* FOOTER */
.box_footer {
  width: 243px;
  margin: 0 60px;
}

.footer-heading {
  font-size: 14px;
  margin: 15px 0;
}

.box_footer p {
  font-size: 12px;
  color: #5f5f5f;
}

.navbar-footer {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 60px;
  box-sizing: border-box;
  height: 86px;
}

.navbar-footer-item {
  display: flex;
  color: white;
  align-items: center;
}

.navbar-footer-item p {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.navbar_footer-icon {
  margin-right: 20px;
  font-size: 24px;
}

/* HOME  */
* {
  margin: 0;
  font-size: 62.5%;
}

/* ANIMATION DELAY */
.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.7s;
}

.delay-4 {
  animation-delay: 0.8s;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 62.5%;
}

/* CAROUSEL */
.caption-slider {
  width: 430px;
  position: absolute;
  top: 25%;
  left: 25%;
  text-align: center;
  color: #f1f1f1;
}

.caption-heading {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
}

.caption-content {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-weight: 200;
}

.caption-btn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px 60px;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 14px;
}

.caption-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.row-duyan {
  padding-top: 3%;
}

/* BOX-CAPTIONS */

.box_watch {
  padding: 15% 7%;
  box-sizing: inherit;
}

.box_watch-heading {
  font-size: 24px;
  letter-spacing: 1.2px;
}

.box_watch-content {
  font-size: 12px;
  color: #212529;
  line-height: 22px;
  letter-spacing: 0.24px;
}

.box_watch-link {
  font-size: 14px;
  color: #0f0f0f;
  line-height: 22px;
  letter-spacing: 0.7px;
  border-bottom: 1px solid black;
}

a:hover {
  text-decoration: none !important;
}

/* BOX-POPULAR */
.boxpopular_watch {
  text-align: center;
  cursor: pointer;
}

.boxpopular_watch img {
  width: 100%;
}

.boxpopular_watch a {
  color: black;
}

.boxpopular_watch:hover img {
  opacity: 0.8;
}

.boxpopular_watch:hover h3 {
  color: #0f0f0f;
  border-bottom: 1px solid black;
}

.boxpopular_watch:hover button {
  background-color: black;
  color: white;
}

.boxpopular_watch-heading {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 6px;
  font-weight: 700;
  display: inline-block;
}

.boxpopular_watch-content {
  color: #0f0f0f;
  text-align: center;
  font-size: 12px;
}

.btn-popular {
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  padding: 8px 22px;
  font-size: 14px;
  background-color: white;
}

/* FOOTER */
.box_footer {
  width: 243px;
  margin: 0 60px;
}

.footer-heading {
  font-size: 14px;
  margin: 15px 0;
}

.box_footer p {
  font-size: 12px;
  color: #5f5f5f;
}

.navbar-footer {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 60px;
  box-sizing: border-box;
  height: 86px;
}

.navbar-footer-item {
  display: flex;
  color: white;
  align-items: center;
}

.navbar-footer-item p {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.navbar_footer-icon {
  margin-right: 20px;
  font-size: 24px;
}

/* BOXIMAGE */
.box6_2 {
  margin-bottom: 2%;
}

.boximg {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.8s ease;
}

.boximg_content {
  height: 400px;
  background-color: #f5f5f5;
}

.boximg_content-heading {
  top: 30%;
  position: absolute;
  left: 25%;
  font-size: 30px;
  color: black;
}

.boximg_content p {
  top: 42%;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.2px;

  position: absolute;
  color: #a2a2a2;
}

.boximg_content a {
  bottom: 10%;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  color: black;
  left: 37%;

  position: absolute;
}

.boximg:hover {
  transform: scale3d(1.2);
}

.row-img {
  padding: 1% 6%;
}

.boximg img {
  width: 100%;
  height: 100%;
  position: relative;
}

/* .boximg img:hover{
    transform: scale(1.1);
} */
.boximg h3 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  left: 28%;
  letter-spacing: 1.5px;
}

.profile {
  background-color: white;
}

/* MEN-LAYOUR */
.navbar__options {
  margin: 1% 3% !important;
  display: flex;
  align-items: center;
}

.navbar__options-set {
  display: flex;
  justify-content: flex-end;
}

.icon_men {
  display: flex;
}

.fa-sliders-h {
  display: flex !important;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.icon_men p {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
}

.men__heading {
  text-align: center;
  font-size: 25px;
  margin-top: 2.5%;
}

.men__content {
  font-size: 12px;
  text-align: center;
  margin: 1% 0;
}

.icon-bar {
  width: 14px;
  height: 4px;
  background-color: #232323;
  margin-bottom: 1px;
}

.icon_sapxep {
  display: flex;
}

.icon_sapxep p {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.icon_sapxep-item {
  display: flex;
}

.fa-th {
  width: 36px;
  height: 36px;
  padding: 10px 9px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  font-size: 16px;
}

.icon-mode-list {
  width: 36px;
  height: 36px;
  box-sizing: border-box;

  border: 1px solid #e3e3e3;
  padding: 10px 9px;
}

.select_men {
  display: flex;
  align-items: center;
}

.select_men-title {
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.show_select {
  position: relative;
  min-width: 186px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border: 1px solid #e3e3e3;
}

.select_list {
  display: none;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 110%;
  left: 0;
  list-style: none;
  padding: 0;
  z-index: 10;
  border: 1px solid #e3e3e3;
}

.select_list_item {
  font-size: 1.2px;

  padding: 14px 16px;
}

.select_list_item:hover {
  background-color: #f4f4f4;
}

.show_select-name {
  line-height: 14px;
  font-weight: 300;
  color: #757272;
  font-size: 12px;
  margin-bottom: 0;
}

.fa-select {
  color: #484848;
  font-size: 14px;
  display: flex !important;
  align-items: center;
}

.card_home {
  /* width: 194px; */
  margin: 0 auto;
  box-sizing: border-box;
}

.card_home-img-item {
  width: 190px;
}

.card_home:hover .card_home-listicon {
  opacity: 1;
  cursor: pointer;
}

.card_home:hover .card_select {
  cursor: pointer;
  opacity: 1;
}

.title_card {
  font-size: 24px;
  letter-spacing: 1.2px;
  margin: 15px 0;
  text-align: center;
}

/* CARD-PRODUCT */
.row_contain {
  margin: 1% 3% !important;
}

.card_men {
  width: 302px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card_men-images {
  position: relative;
}

.card_men-img-item {
  max-width: 100%;
  height: auto;
}

.card_men-sold {
  min-width: 64px;
  line-height: 12px;
  font-weight: 300;
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #757272;
  border-radius: 2px;
  padding: 4px 7px;
  top: 4%;
  right: 6%;
}

.card_men-listicon {
  opacity: 0;
  transition: all 0.3s ease-in;
}

.card_men-icon1 {
  position: absolute;
  top: 5%;
  left: 4%;
  font-size: 22px;
}

.card_men-icon2 {
  position: absolute;
  top: 13%;
  left: 4%;
  font-size: 22px;
}

.card_men-icon3 {
  position: absolute;
  top: 21%;
  left: 4%;
  font-size: 22px;
}

.card_men-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.card_select {
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-align: center;
  padding: 10px 5px;
  transition: all 0.3s ease-in;
}

.card_men-profile {
  text-align: center;
}

.card_men-product {
  font-size: 12px;

  color: #232323;
  margin: 10px 0;
}

.card_men-producttitle {
  font-size: 14px;

  color: #232323;
  letter-spacing: 0.2px;
  line-height: 22px;
}

.card_men-star {
  display: inline-block;
  margin: 5px 0;
}

.card_men-price {
  font-size: 14px;
}

.card_men:hover .card_men-listicon {
  opacity: 1;
  cursor: pointer;
}

.card_men:hover .card_select {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .navbar__options-set {
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
  }

  .select_men {
    width: 100%;
  }

  .show_select {
    flex: 1;
  }

  .icon_sapxep {
    justify-content: space-between;
  }

  .select_men-title {
    margin-right: 85px;
  }
}

/* Shrink wrap strategy 1 */
.easyzoom {
  float: left;
}

.easyzoom img {
  display: block;
}

/* Shrink wrap strategy 2 */
.easyzoom {
  display: inline-block;
}

.easyzoom img {
  vertical-align: bottom;
}

/* CART */

.table-shopping tr {
  border: 1px solid #e6e6e6;
}

th {
  text-align: center;
  font-size: 13px;
  border-bottom: none !important;
  text-transform: uppercase;
}

td {
  font-size: 15px;
  padding: 40px 20px !important;
}

.input__update {
  outline: none;
  border: none;
  border-radius: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 400;
  font-size: 10px;
  padding: 7px 22px;
}

.input__update:hover {
  background-color: #717fe0;
  color: white;
}

.cart__total {
  font-size: 14px;
  border: 1px solid #e6e6e6;
  padding: 20px 10px;
}

.cart__total p {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

.cart__total span {
  font-size: 13px;
}

.cart__total-total {
  padding: 10px 0;
  border-bottom: 1px dashed #d9d9d9;
}
.cart__total-total p,
span {
  color: black;
}
.cart_total-shopping {
  padding: 10px 0;
  border-bottom: 1px dashed #d9d9d9;
}

.cart_total-checkout {
  margin: 10px 0;
}
.cart-amount {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.vetical-icon {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.quantity-icon {
  font-size: 20px;
  transition: all ease 0.5s;
}
.quantity-icon:hover {
  cursor: pointer;
  color: #717fe0;
}
.input__checkout {
  margin: 10px 0;
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  padding: 10px 13px;
}
.btn__group {
  display: flex;
  flex-direction: column;
}
.btn__duyan {
  text-align: center;
  outline: none;
  line-height: 18px;
  border: none;
  color: white;
  padding: 8px 25px;
  font-size: 14px;
  background-color: black;
}
.btn__duyan + .btn__duyan {
  margin-top: 10px;
}
.btn__duyan:hover {
  background-color: #717fe0;
  color: white;
}
.notfi {
  text-align: center;
  font-size: 28px;
  color: black;
  text-transform: uppercase;
  background: white;
  letter-spacing: 3.3px;
  padding: 300px;
}

.admin__options {
  height: 100%;
  padding: 10px 10px;
  text-align: center;
  background-color: #955dd8;
}

.list__group {
  list-style-type: none;
  padding: 0;
}

.list__group a {
  color: white;
  font-size: 12px;
}

.active a {
  font-size: 18px !important;

  font-weight: 200;
}

.list__group-item {
  padding: 8px 15px;
  text-transform: uppercase;
}

.list__group-item i {
  font-size: 18px;
  color: white;
}

/* 8/6/2020 CustomerReview */
.card-customerreview {
  width: 420px;
  height: 416px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  text-align: center;
  padding: 30px 36px;
}

.card-customer-link {
  display: block;
  margin: 10px 0;
}

.card-customer-link span,
a {
  font-size: 12px;
}

.customer_icon {
  font-size: 16px;
}

/* .card_men-img-item {
  max-width: 100%;
  width: 90px;
  height: 300px;
  object-fit: contain;
} */

/*ACCOUNT PAGE*/
body {
  background-color: white !important;
}
.account__page-title {
  margin: 60px 0;
}

.account__page {
  margin-bottom: 100px;
}

.account__page-title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.2px;
}

.account__page-note {
  margin-bottom: 30px;
}

.account__page-note p {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.account__page-note span {
  font-size: 12px;
  color: #5f5f5f;
}

.account__page-form a {
}

.form__group label {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

.form__group-input {
  width: 470px;
  height: 42px;
  font-size: 12px;
  padding-left: 10px;
}

.form__group {
  margin: 15px 0;
}

.btnn {
  min-width: 170px;
  height: 44px;
  padding: 12px 54px;
}

.btn__watch {
  background-color: black;
  color: white;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.form__link {
  font-size: 12px;
  color: #5f5f5f;
  margin: 10px 0;
}

.form__link a {
  font-size: 12px;
  color: #5f5f5f;
}
.invalid {
  margin-top: 4px;
  color: #b32824;
  font-size: 12px;
}

.account__page-login,
.account__page-register {
  text-align: left;
}

/* SANPHAM */

.duyan {
  background-color: red;
}

.product {
}

.product_item {
  background-color: white;
}
.product_item.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_img {
  margin-top: 50px;
  text-align: center;
}

.product_img img {
}
.product_profile {
  text-align: left;
}
.product_profile-heading {
  font-size: 20px;
}

.product_profile-star {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.fas {
  margin-right: 4px;
}

.product_icon {
  color: #e66c36;
}

.product_icon-inactive {
  color: #e3e3e3;
}

.product_profile-review {
  margin-left: 8px;
  margin-bottom: 0px;
  color: #5e5e5e;
  letter-spacing: 0.4px;
}

.product_profile-stock {
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  display: inline-block;
}

.product_profile-price {
  font-size: 20px;
}

.product_profile-infor {
  margin-top: 4px;
  font-size: 12px;
  line-height: 22px;
  color: #5f5f5f;
}

.product_profile-color {
  margin: 10px 0;
}

.product_profile-color img {
  border-radius: 50%;
  border: 2px solid #e3e3e3;
  width: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 32px;
  margin-right: 10px;
  cursor: pointer;
}

.product_profile-size {
  display: flex;
}

.size-item {
  font-size: 12px;
  width: 38px;
  height: 38px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.size-item-active {
  background: #232323;
  border: 1px solid #232323;
  color: #fff;
}

.product_profile-material {
  display: flex;
}

.material-item {
  width: 91px;
  margin-right: 14px;

  height: 38px;
  border-radius: 20px;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  color: #e3e3e3;
  border: 2px solid #e3e3e3;
}

.material-item-active {
  border: 2px solid #232323;
  color: #232323;
}

.product_profile-btn {
  font-size: 14px;
  margin-top: 16px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  letter-spacing: 0.8px;
  width: 100%;
  padding: 10px 0;
}

.product_profile-btn-white {
  font-size: 14px;
  margin-top: 16px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: 1px solid black;
  letter-spacing: 0.8px;
  width: 100%;
  padding: 10px 0;
}

.product_note {
  margin: 20px 0;
  color: #999999;
  text-align: center;
}

.product_note-icon {
  font-size: 12px;
}

.product_note-item {
  display: inline;
  font-size: 12px;
}

.product_support {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 40px 0;
}

.product_support-item {
  width: 150px;
  text-transform: uppercase;
  font-weight: 500;
}

.sp_item-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.sp_item-content {
  font-size: 12px;
  line-height: 16px;
}
